detections
/identities
/detector/identities
/detector/benchmark-cache/
/web/identities
/models/
/detector/models/
datasets
config.json
config.**.json
yolo*.pt
yolo*.onnx
sam*.pt
app.json
!example/config.json
!web/src/lib/generated/config.schema.json
!web/src/routes/(admin)/detections
web/static/_internal/ffmpeg
web/static/_internal/ffmpeg.exe
